[Desktop Entry]
Name=OctoXBPS Notifier
Icon=octopi
Exec=/usr/bin/octoxbps-notifier
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
#NotShowIn=GNOME;XFCE;LXDE;KDE;
StartupNotify=true
X-LXQt-Need-Tray=true
